# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions

certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
requests==2.32.4
tenacity==8.2.3
urllib3==2.5.0